.popup__container_safebutton {
  margin-top: 45px;
  max-width: 358px;
  min-height: 50px;
  border-radius: 2px;
  background-color: black;
  transition: opacity .5s ease;
  border: none;

}


@media screen and (max-width: 545px) {
  .popup__container_safebutton {
    min-height: 46px;
  }
}

.popup__container_safebutton:hover {
  opacity: .8;
  cursor: pointer;
}